*.pyc
__pycache__/
*/__pycache__/
*.egg-info/
*.tar.bz2
.DS_Store
ood/experiments/outputs/*
ood/experiments/simulation_data/*
ood/experiments/plotting/*
*.log
*.pickle
*tfdbg2_logdir
dubins_car_reconstruction